<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>یونیفو | رشته‌های دانشگاهی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .lang-toggle {
            position: absolute;
            top: 15px;
            left: 15px;
        }
        .lang-toggle img {
            width: 30px;
            height: auto;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <body>

    <!-- DİL DEĞİŞTİRME BUTONU -->
    <div class="lang-toggle">
        <a href="/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Flag_of_Turkey.svg" alt="Türkçe">
        </a>
    </div>

 
    <header>
        <div class="header-overlay">
            <h1 class="logo">UNINFOO</h1>
            <p> EDUX بورسیه دانشگاه های ترکیه با </p>

            <div class="type-menu">
                <div class="type-box">لیسانس</div>
                <div class="type-box">فوق‌دیپلم</div>
                <div class="type-box">کارشناسی ارشد</div>
                <div class="type-box">دکترا</div>
            </div>
        </div>
    </header>

    <div class="search-container">
        <form method="GET">
            <input type="text" name="q" placeholder="نام رشته را جستجو کنید...">
            <button type="submit">جستجو</button>
        </form>
    </div>

    <div class="department-grid">
        {% for d in departments %}
        <div class="department-card">
            <a href="/bolum/{{ d.id }}">{{ d.name }}</a>
            <p class="year-text">{{ d.duration }}</p>
        </div>
        {% endfor %}
    </div>

</body>
</html>
